<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CucumberTestSuite">
    <test name="CucumberFeatureTest">
        <classes>
            <!-- Replace with your fully qualified TestNG runner class name -->
            <class name="com.crm.qa.testcases.runner.RunnerFile" />
        </classes>
    </test>
</suite>
